


<!-- <div class="fixed bottom-3 w-full flex flex-row ">
        <a href="/" style="" class=" ml-2 w-1/2 py-2 btncolor font-bold  mr-1 text-white text-center">HOME</a>
        <a href="/user/profile" class=" py-2 btncolor w-1/2 text-white font-bold mr-1 text-center">PROFILE</a>
</div> -->

<div class="footer ">
        <a href="/">
          <i class="fas fa-home fa-2x"></i>
        </a>
        <a href="/feeds">
          <i class="far fa-compass fa-2x"></i>
      </a>
      <a href="/user/profile">
          <i class="fas fa-user-circle fa-2x"></i>
      </a>
      
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha512-fzff82+8pzHnwA1mQ0dzz9/E0B+ZRizq08yZfya66INZBz86qKTCt9MLU0NCNIgaMJCgeyhujhasnFUsYMsi0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



</body>
</html>