<div class="footer mt-4  py-2 px-2 bg-gray-200" >
  <div class=" ">
    <table  class="mx-auto ">
      <tr class="">
      <td>BUSSINESS</td>
        <td>PRIVACY POLICY</td>
      </tr>
      <tr class="">
      <td class="pr-4">TERMS & CONDITIONS</td>
        <td>CONTACT US</td>
      </tr>
    </table>
      <p class="text-center ">&copy; GALAXY AWARDS INDIA</p>
  </div>
</div>
<div class="bg-gray-200 h-16"></div>
<div class="fixed bottom-3 w-full flex flex-row ">
        <a href="/" style="" class=" ml-2 w-1/2 py-2 btncolor font-bold  mr-1 text-white text-center">HOME</a>
        <a href="/user/profile" class=" py-2 btncolor w-1/2 text-white font-bold mr-1 text-center">PROFILE</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>