<style>
  
  .btncolor {
    background-color:#FE3C72;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="w-52 ml-2 mx-auto">
    <img class="h-12" src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/Adobe_Post_20211230_0017440.6959994710195739.png?v=1640804966650"/>
  </div>
    </nav>