<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid ">
    <img class="h-12" src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/Adobe_Post_20211229_2319030.12307216170945123.png?v=1640800247350"/>
    <div class=" inline-block">
      
  </div>
</nav>