<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
   
</style>
<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md bg-yellow-200">
            <h3 class="text-bold text-3xl ">Contest Name</h3>
          <div class="botton flex justify-center mt-20">
            <a href="/user/participate" class="px-3 py-2 bg-yellow-600 rounded mr-7">Participate</a>
            <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search"/>
            <button type="submit" class="px-3 py-2 bg-yellow-600 rounded">vote</button>
            </form>
          </div>
        </div>
    </div>
</div>

<div class="fixed bottom-3 w-full ">
        <a href="" class="px-12 ml-2 py-2 bg-black font-bold  mr-1 text-white text-center">HOME</a>
        <a href="" class="px-12 py-2 bg-black text-white font-bold mr-1 text-center">PROFILE</a>
</div>
<%- include('./partials/footer.ejs') %>


