<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container w-72 flex items-center " style="height:68vh;">

    <div class="" >
      <p class="text-lg text-center font-bold">
        Vote Your favourite contestant or Join the contest
      </p><a href="/user/auth/google" >
  <img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/btn_google_signin_dark_pressed_web%402x.png?v=1641142348348" />
      </a>
  </div>
    
</div>
    

<%- include('./partials/footer.ejs') %>


