<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container w-72 flex items-end h-72">

    <div class="" >
        <div class="d-block"><a href="/user/auth/google" class="ml-3 font-bold bg-gray-800 text-white px-4 py-2 font-sans text-md mt-1 bg-gray-800">Continue With Google</a></div>
    </div>
    
</div>
    

<%- include('./partials/footer.ejs') %>


