<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container w-72 flex items-end h-72">
profile
</div>
<% if(user.isParticipant){ %>
<div class="" >
  <$
</div>
<% }else{ %>
<div class="" >
  You haven't been part a contest yet
</div>
<h4>
  Join Contest Now 
</h4>
<div class="cart" >
  
</div>
    
<% } %>

<%- include('./partials/footer.ejs') %>


